#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    #root {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) {
    #root {
        width: 92%;
        padding: 0;
    }
}

* {
    letter-spacing: 2px;
}
h2 {
    text-align: start;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
