#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

* {
    letter-spacing: 2px;
}
h2 {
    text-align: start;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}
